.carrossel{
    height: 50rem;
    width: 50%;
    position: relative;
}

.carrossel .lista{
    position: absolute;
    top: 0;
    left: 0;
    width: 57rem;
    left: 50%;
    transform: translateX(-50%);
    height: 80%;
}

.carrossel .lista .item{
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    font-size: 1.5rem;
}

.carrossel .lista .item img{
    width: 80%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(50%);    
}

.carrossel .lista .item:nth-child(n + 4){
    opacity: 0;
    pointer-events: none;
}

.carrossel .lista .item:nth-child(2){
    transform: translate(0 , 0 );
    filter: blur(0);
    z-index: 10;
    opacity: 1;
}

.carrossel .lista .item:nth-child(1){
    transform: translate(-100%, -5%) scale(1.5);
    filter: blur(3rem);
    z-index: 11;
    opacity: 0;
    pointer-events: none;
}

.carrossel .lista .item:nth-child(3){
    transform: translate(-50%, -10%) scale(0.8);
    filter: blur(1rem);
    z-index: 9;
    opacity: 1 ;
}

